# Virtual environment
mafenv/

# Python cache
__pycache__/
*.pyc

# Local environment variables
single_agent/memory/groq_test.py
.env
*.env

# Logs and experiment results
logs/
# results/

tmux.md

**/.DS_Store

